<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/message-list.css">
    <!-- endbuild -->
  </head>
  <body ng-app="angularTutorialMailboxApp">

    <div class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" ng-click="navCollapsed = !navCollapsed">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">Angular Mailbox</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse" collapse="!navCollapsed">

            <ul class="nav navbar-nav" ng-init="currentPage = 1">
              <li ng-class="{'active': currentPage == 1}"><a href="#/" ng-click="currentPage = 1">My Mails</a></li>
              <li ng-class="{'active': currentPage == 2}"><a href="#/bindings-example" ng-click="currentPage = 2">Bindings Example</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <!-- The partial are rendered here -->
      <div ng-view></div>
    </div>

    <div class="footer">
      <div class="container">
        <p><span class="glyphicon glyphicon-heart"></span> Matthieu Kluj</p>
      </div>
    </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/mailBox.js"></script>
        <!-- endbuild -->
</body>
</html>
