<!-- No Need for the ng-controller="Mailbox" directive as the router is injecting
the controller automatically -->
<h1>Using directives to isolate scopes</h1>
<h2>First Mailbox</h2>
<!-- Messages List -->
<div class="row">
  <div class="col-sm-4">
    <!-- Messages List Directive -->
    <messages-list mail-box="mailBoxOne" select-message-function="selectMessage"></messages-list>
  </div>
  <div class="col-sm-8">
    <!-- Message Panel Directive -->
    <message-panel displayed-message="mailBoxOne.selectedMessage"></message-panel>
  </div>
</div>
<h2>Second Mailbox</h2>
<!-- Messages List -->
<div class="row">
  <div class="col-sm-4">
    <!-- Messages List Directive -->
    <messages-list mail-box="mailBoxTwo" select-message-function="selectMessage"></messages-list>
  </div>
  <div class="col-sm-8">
    <!-- Message Panel Directive -->
    <message-panel displayed-message="mailBoxTwo.selectedMessage"></message-panel>
  </div>
</div>
